@model Mismo.ViewModel.UserMoods;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@{

}
@if (TempData["AlertMood"] != null)
{
    <div class="alert alert-success alert-dismissable fade show m-1" role="alert">
        @TempData["AlertMood"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["AlertMoodError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<a asp-controller="Moods" asp-action="Create">今日の気分を追加</a>

@if (User.IsInRole("Member"))
{
    foreach (var item in Model.MoodList)
    {
        @if (item.UserId.Equals(Model.User.Id))
        {
            <p>@item.Date</p>
            

            @switch (@item.Rating)
            {
                case 1:
                    <img class="select-icon" src="/images/bad.png" />
                    break;
                case 2:
                    <img class="select-icon" src="/images/soso.png" />
                    break;
                case 3:
                    <img class="select-icon" src="/images/fine.png" />
                    break;
                case 4:
                    <img class="select-icon" src="/images/good.png" />
                    break;
                case 5:
                    <img class="select-icon" src="/images/great.png" />
                    break;
            }
           <p>@item.Comment</p>

           <a asp-controller="Moods" asp-action="Edit" asp-route-id="@item.MoodId">編集</a>

            <form asp-controller="Moods" asp-action="Delete" onSubmit="return check()">
                <input type="hidden" name="id" value="@item.MoodId" />
                <input type="submit" value="削除" class="btn btn-warning" />
            </form>

        }
    }
}

@if (User.IsInRole("Admin"))
{

    @foreach (var peruser in Model.Users)
    {
        @foreach (var item in peruser.Moods)
        {
            <p>@peruser.LastName</p>
            <p>@peruser.FirstName</p>
            <p>@item.Date</p>
            
            @switch (@item.Rating)
            {
                case 1:
                    <img class="select-icon" src="/images/bad.png" />
                    break;
                case 2:
                    <img class="select-icon" src="/images/soso.png" />
                    break;
                case 3:
                    <img class="select-icon" src="/images/fine.png" />
                    break;
                case 4:
                    <img class="select-icon" src="/images/good.png" />
                    break;
                case 5:
                    <img class="select-icon" src="/images/great.png" />
                    break;
            }

            <p>@item.Comment</p>
           
        }

    }
}
else if (User.IsInRole("Manager"))
{
    @foreach (var peruser in Model.Users)
    {
        @if (peruser.Department.Equals(Model.User.Department))
        {
            <p>@peruser.LastName</p>
            <p>@peruser.FirstName</p>

            @foreach (var item in peruser.Moods)
            {
                <p>@item.Date</p>

                @switch (@item.Rating)
                {
                    case 1:
                        <img class="select-icon" src="/images/bad.png" />
                        break;
                    case 2:
                        <img class="select-icon" src="/images/soso.png" />
                        break;
                    case 3:
                        <img class="select-icon" src="/images/fine.png" />
                        break;
                    case 4:
                        <img class="select-icon" src="/images/good.png" />
                        break;
                    case 5:
                        <img class="select-icon" src="/images/great.png" />
                        break;
                }

                <p>@item.Comment</p>
            }

        }


    }

}

<script>
    function check() {
        if (window.confirm('この気分を削除しますか？')) {
            return true;
        } else {
            return false;
        }
    }

</script>