@using Microsoft.AspNetCore.Identity;
@model Mismo.ViewModel.Users;

@{
    ViewData["Title"] = "Users";
}
<h1>ユーザーリスト</h1>

@if (TempData["AlertUser"] != null)
{
    <div class="alert alert-success alert-dismissable fade show m-1" role="alert">
        @TempData["AlertUser"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["AlertUserError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertUserError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<a asp-controller="Departments" asp-action="Index" class="btn btn-primary">部門管理</a>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Add New User</a>


<p>一括アップロードボタン作る予定（Admin限定）</p>


<p>ユーザー一覧</p>
@foreach (var user in Model.AllUsers)
{  
        <p>@user.LastName @user.FirstName</p>
        <p>@user.Email</p>
    <p>@user.Role</p>

    @if (Model.Departments.Count() > 0)
    {
        @foreach (var dep in Model.Departments)
        {
            @if (dep.DepartmentId == user.DepartmentId)
            {
                <p>@dep.Name</p>
            }
        }

    }
    

    <a asp-action="Edit" asp-route-id="@user.Id" class="text-center">Edit</a>
        <form asp-action="Delete" onSubmit="return check()">
            <input type="hidden" name="id" value="@user.Id" />
            <input type="submit" value="削除" class="btn btn-danger" />
        </form>
        <p>---------------------</p>


   @*  else if (User.IsInRole("Manager"))
    {
        if (TempData["Department"].Equals(item.Department))
        {
            if (item.Email.Equals(User.Identity.Name))
            {
                <p>@item.LastName @item.FirstName</p>
                <p>@item.Email</p>
                <p>@item.Department</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="text-center">Detail</a>
            }

            else
            {
                <p>@item.LastName @item.FirstName</p>
                <p>@item.Email</p>
                <p>@item.Department</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="text-center">Detail</a>
                <form asp-action="Delete" onSubmit="return check()">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="削除" class="btn btn-danger" />
                </form>
            }

            <p>---------------------</p>
            
        }

    } *@


}

<script>
    function check() {
        if (window.confirm('このユーザーを削除しますか？')) {
            return true;
        } else {
            return false;
        }
    }

</script>